.content,p{
   
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #696969;
}
.heading-section h2 {
    font-size: 50px;
    font-weight: 700;
}
ul.about-info li span:first-child {
    font-weight: 700;
    color: #000000;
    width: 130px;
}
