body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.butn {
  text-decoration: none;
  background-color: #03498a;
  border-radius: 100px !important;
  color: #fff !important;
  box-shadow: 3px 3px 6px #b8b8b8;
}